In [ ]:
#Find all of the numbers from 1-1000 that are divisible by 7
q1 = [n for n in range(1, 1001) if n % 7 == 0]

In [ ]:
# Find all of the numbers from 1-1000 that have a 3 in them
q2 = [n for n in range(1, 1000) if '3' in str(n)]

In [ ]:
# Count the number of spaces in a string
str = "How many spaces are in this string?"
q3 = [space for space in str if space == ' ']
len(q3)

6

In [ ]:
# Create a list of all the consonants in the string “Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams”
str = "Yellow Yaks like yelling and yawning and yesturday they yodled while eating yuky yams"
consonants = [c for c in str if c not in 'a,e,i,o,u, " "']
len(consonants)

48

In [ ]:
# Find the common numbers in two lists (without using a tuple or set) list_a = 1, 2, 3, 4, list_b = 2, 3, 4, 5
list_a = 1, 2, 3, 4
list_b = 2, 3, 4, 5
common = [(n) for _, n in enumerate(list_a) if n in list_b]
common

[2, 3, 4]

In [ ]:
# Get only the numbers in a sentence like ‘In 1984 there were 13 instances of a protest with over 1000 people attending’
str = "In 1984 there were 13 instances of a protest with over 1000 people attending"
res = [s for s in str.split(" ") if s.isnumeric()]
res

['1984', '13', '1000']

In [ ]:
# Given numbers = range(20), produce a list containing the word ‘even’ if a number in the numbers is even, and the word ‘odd’ if the number is odd. Result would look like ‘odd’,’odd’, ‘even’
numbers = range(20)
list = ['even' if res % 2 == 0 else 'odd' for res in numbers]
list

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd']

In [ ]:
# Produce a list of tuples consisting of only the matching numbers in these lists list_a = 1, 2, 3,4,5,6,7,8,9, list_b = 2, 7, 1, 12. Result would look like (4,4), (12,12)
list_a = [1,2,3,4,5,6,7,8,9]
list_b = [2, 7, 1, 12]
res = [(n, n) for n in list_a if n in list_b]
res

[(1, 1), (2, 2), (7, 7)]

In [ ]:
# Find all of the words in a string that are less than 4 letters
sentence = 'On a summer day somner smith went simming in the sun and his red skin stung'
res = [w for w in sentence.split() if len(w) < 4]
res

['On', 'a', 'day', 'in', 'the', 'sun', 'and', 'his', 'red']